#wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

footer{
	float: left;
	background-color: #343434;
	width: 98%;
	padding: 1%;
	border-top: 5px solid #EB420E;
	font-family: 'Roboto Slab', serif;
	bottom: 0px;
	position: fixed;
	align-items: center;
	display: flex;
}

#site_name {
	margin-right: 5%;
	margin-left: 5%;
	color: #f4f4f4;
	font-size: 1.5em;
	float: right;
}

#site_name>span {
	font-family: 'Suez One', serif;
}

#rights {
	float: left;
	margin-left: 5%;
	font-size: 1.1em;
}

#rights>a {
	color: white;
}

#social {
	float: right;
	width: 48%;
	margin-right: : 5%;
}

#social>a {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: rgba(217, 91, 72, 1);
	margin-left: 2%;
	width: 30px;
	height: 30px;
	float: right;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 1.2em;
}

#social>a:hover {
	background-color: rgba(217, 91, 72, 0.6);
}
